# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Ignore les fichiers et dossiers de node_modules
/node_modules
/Backend\node_modules
/FrontCrypto/node_modules

# Ignore les fichiers de build générés
/build
/dist

# Ignorer les fichiers spécifiques de configuration locaux, comme .env.local
.env.local

# Ignorer les fichiers d'historique de commandes shell
.history

# Ignorer les fichiers de cache ou temporaires
.cache
.tmp
